html {
    overflow: hidden;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 12px;
}

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%
}

button {
    background-color: white;
    border-radius: 0.5em;
    color: black;
    font-size: 1em;
    padding: 0.5em;
    margin-top: 0.5em;
}

button:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.front-screen {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    text-align: center;

    z-index: 10;
    font-size: 2rem;
}

.front-screen h1 {
    margin-bottom: 3em;
}


.message {
    position: fixed;
    left: 50%;
    bottom: 2.5em;
    transform: translate(-50%, 0);
}

.front-screen button {
    position: fixed;
    left: 50%;
    bottom: 0.5em;
    transform: translate(-50%, 0);
}

#game-end {
    display: none;
}

.center-box {
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
}

#score {
    position: absolute;
    top: 0;
    right: 50%;

    color: white;

    font-size: 3rem;
    text-align: right;
}

#touch-joystick {
    opacity: 0.8;
    position: absolute;
    display: none;
}

#touch-joystick {
    width: 150px;
    height: 150px;
}

.joystick-base {
    fill: #a0a0a0;
}

.joystick-head {
    fill: #c0c0c0;
}

#lifebar {
    position: absolute;
    width: 200px;
    height: 40px;
    display: none;
}

.lifebar-bg {
    fill: #338833;
    stroke: #113311;
    stroke-width: 2
}

.lifebar-bar {
    fill: #00ff00;
}

#sights {
    position: absolute;
    width: 140px;
    height: 80px;
    top: 200px;
    left: 200px;
    display: none;
}

.sights-center {
    fill: none;
    stroke: #0000ff;
}

.sights-box {
    fill: none;
    stroke: #0000ff;
    stroke-width: 3;
    stroke-linejoin: round;
}

.sights-lines {
    fill: none;
    stroke: #0000ff;
    stroke-width: 3;
}

#fullscreen-button {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 11;

    width: 20px;
    height: 20px;
}

#fullscreen-button .outer {
    fill: white;
}

#fullscreen-button .inner {
    fill: black;
}

#cache-update {
    width: 90%;
    position: fixed;
    left: 50%;
    top: -50%;
    z-index: 20;
    box-sizing: border-box;

    font-size: 1.5rem;

    background-color: white;
    border-radius: 2em;
    padding: 10%;
    transform: translate(-50%, -50%);
    text-align: center;

    transition: top 0.3s ease-out;
}

#cache-update.shown {
    top: 50%;
}

#cache-update ul {
    padding: 0;
}

#cache-update ul li {
    display: inline-block;
    margin-right: 2em;
}

#cache-update ul li a {
    display: block;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 3em;
    text-decoration: none;
    color: black;
}

#cache-update ul li a:hover {
    transform: scale(1.1, 1.1);
}

#cache-update ul li:first-child a {
    background-color: blue;
    border: none;
}

#cache-update ul li:first-child a {
    color: white;
}

#arrow-keys, #touch-screen-left, #mouse {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    margin-top: 30%;
    margin-bottom: 20%;
}

#touch-screen-left {
    width: 50%;
}

#mouse {
    width: 15%;
}

#keyboard-commands {
    white-space: nowrap;
}

.command-help {
    display: none;
}

@media(max-width: 728px) {
    #sights {
        width: 50px;
        height: 50px;
    }
}
